@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(233, 47%, 7%);
}

/* position */
.container {
    width: 80vw;
    min-height: 50vh;
    padding: 0;
    margin: 20vh auto;
    margin-bottom: 10px;

    display: flex;
    flex-flow: row nowrap;

    overflow: hidden;
    border-radius: 10px;
}

.item {
    width: 50%;
    padding: 5%;
    padding-right: 12%;
    background-color: hsl(244, 38%, 16%);

    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
    text-align: left;
}

.img {
    background-image: url('images/image-header-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(85, 12, 131, 0.6);
}

.item1 {
    width: 100%;
    margin-bottom: 20%;
}

.item2 {
    margin-bottom: 5%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

/* text */
.item1 h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    color: white;
}

.item1 h1 span {
    color: hsl(277, 64%, 61%);
}

.item1 div {
    font-weight: 400;
    margin-right: 10%;
    color: hsla(0, 0%, 100%, 0.75)
}

.item2 h2 {
    font-weight: 700;
    margin-bottom: 0.1em;
    color: white;
}

.item2 p {
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    color: hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 380px) {
    .container {
        width: 90vw;
        height: auto;
        border-radius: 10px;
        margin: 5vh auto;

        flex-flow: column-reverse nowrap;
        justify-content: flex-end;
    }

    .item {
        width: 100%;
        padding: 10%;

        flex-flow: column nowrap;
        text-align: center;
    }

    .item1 div {
        margin-right: 0;
    }

    .item2 {
        width: 100%;
    }

    .img {
        min-height: 250px;

        background-image: url('images/image-header-mobile.jpg');
        background-size: cover;
    }

}